body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
    background-color: #101010;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #0D0D0D;
  text-align: center;
}
.footerLink{
  color: white;
}

.maxCoinsLabel{
  color: white;
  font-size: 20px;
  margin: 0px;
  display: block;
  margin-bottom: 10px;
}

.quickData,
.profileData {
  text-align: left;
  margin-left: 12px !important;
  margin-top: 15 !important;
  float: left;
  display: block;
}

.profileData{
  margin-left: 10px !important;
  margin-top: 35 !important;
  font-size: 23px !important;
  font-weight: bold;
  font-family: 'Anton', sans-serif;
}

.text,
.quickData,
.profileData {
    color: white;
    font-size: 25px;
    margin: 0px;
}

.subHeading {
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}

h1{
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

button{
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

hr{
  animation: 1s ease-out 0s 1 fadeIn;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}


.centered {
      text-align: center;
}

.loginBtn {
  transition-duration: 0.2s;
  height:80px;
  width:180px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #f0b000;
  display: inline-block;
  border: none;
  transform: scale(1, 1);
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 10px;
}

.registerBtn{
  transition-duration: 0.2s;
  height:80px;
  width:300px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #f0b000;
  display: inline-block;
  border: none;
  transform: scale(1, 1);
  cursor: pointer;
  margin-bottom: 5px;
  font-size: 40px;
}

.loginBtn:focus, .registerBtn:focus {
  outline-width: 0px;
}

.loginBtn:hover, .registerBtn:hover {
  transform: scale(1.1, 1.1);
}

.loginBtn:disabled, .registerBtn:disabled {
  transition: scale 0.0s;
  transform: scale(1, 1);
  transition: background-color 0.5s ease;
  background-color: #545454;
  color: #545454;
  cursor: not-allowed;
  font-size: 30px;
  color: white;
}


.registerBtn:disabled:hover{
  transition: background-color 0.5s ease;
  background-color: red;
}

.btnClicker{
  display: inline;
  background: yellow;
  width: 200px;
  height: 100px;
  margin-top: 25px;
  margin-bottom: 10px;
  transition-duration: 0.1s;
  transform: scale(1,1);
}
.btnClicker:hover {
  cursor: pointer;
  transition-duration: 0.1s;
  transform: scale(1.1,1.1);
}
.btnClicker:disabled,
.btnClicker:disabled:hover {
  filter: saturate(0);
  transform: scale(1,1) !important;
}

.icon{
  font-size: 20px;
  cursor: help;
  color: white;
  margin: 5px;
  margin-top: 0px;
  float: right;

}


.panel{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(33, 33, 33);
    border-radius: 8px;
    padding: 10px;
}

.textbox{
  padding: 12px 20px;
  margin: 15px;
}

input {
  width: 100%;
  box-sizing: border-box;
  font-size: 25px;
  border-radius: 5px;
  border: none;
  height: 35px;
  font-family: fantasy;
  padding-left: 10px;
}

input[type="password"] {
  font-size: 35px;
}

input:focus {
    outline: none;
}

.header {
  overflow: hidden;
  background-color: rgb(13, 13, 13);
  padding: 20px 10px;
  margin: auto;
  width: 100%;
  top: 0;
  position: fixed;
  text-align: center;
  z-index: 100;
}

.header .logo{
    float: left;
    margin-left: 5px;
    margin-top: 1px;
    border-radius: 20px;
    transition: filter  0.2s;
    transition-timing-function: out;
}

.selected{
    border: 2px solid #f0b000;
}

.noHoverLogo{
    float: left;
    margin-left: 5px;
    margin-top: 1px;
    border-radius: 20px;
}

.profileLogo{
  float: left;
  margin-left: 15px;
  margin-top: 20px;
  border-radius: 20px;
}

.header .logo:hover {
  filter: blur(1px) brightness(2);
  cursor: pointer;
}

.header {
  font-size: 50px;
  font-weight: bold;
  font-family: 'Anton', sans-serif;
  max-height: 100px;
}

.menuButton {
  float: none;
  color: white;
  background-color: rgba(31, 23, 0, 0.8);
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 50px;
  border-radius: 5px;
  display: inline-block;
}

.menuButton:hover {
  transition-duration: 0.4s;
  background-color: rgba(240, 176, 0, 0.48);
  color: white;
}

.active {
  background-color: #f0b000;
  color: white;
}

#Btn_Logout{
  background-color: darkred;
  float: right;
  margin-right: 25px;
  margin-left: 20px;
}

#Btn_Logout:hover{
  background-color: red;
}

#textboxCoinFlip{
  max-width: 150px;
}

.content {
  max-width: 800px;
  margin: auto;
  margin-top: 160px;
}

.section{
  max-width: 500px;
}

/*NOTIFICATION STYLES*/
.alert {
  padding: 20px;
  color: white;
  opacity: 1;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  border-style: solid;
  border-width: 3px;
}

#closedAlert {
  opacity: 0;
  display: none;
}

.alert.success {background-color: rgba(76, 175, 80, 0.5); border-color: rgba(76, 175, 80, 1);}
.alert.info {background-color: rgba(33, 150, 243, 0.5);border-color: rgba(33, 150, 243, 1);}
.alert.warning {background-color: rgba(255, 152, 0, 0.5);border-color: rgba(255, 152, 0, 1);}
.alert.error {background-color: rgba(255, 74, 8, 0.5); border-color: rgba(255, 74, 8, 1);}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
/*NOTIFICATION STYLES*/


#imgUpload{
  padding: 0px;
  background-color: #f0b000;
  border-radius: 5px;
  color: white;
  font-size: 20px !important;
}

#saveBtn{
  transition-duration: 0.2s;
  height: 80px;
  width: 250px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #f0b000;
  display: inline-block;
  border: none;
  transform: scale(1, 1);
  cursor: pointer;
  margin-bottom: 20px;
}
